* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  background-color: #f7f7f9;
}

.main-header {
  min-width: 375px;
  min-height: 92px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 10px 0;
  background-color: #fff;
}

.header-title,
.icon {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.bi-list {
  font-size: 2rem;
  color: #6070ff;
}

.content {
  background-image: url("assets/Background/bg_image.png");
  background-repeat: no-repeat;
  min-height: 120vh;
  min-width: 375px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 25% 100px;
  background-color: #fff;
}

.name {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding: 1rem;
}

.message {
  min-width: 327px;
  padding: 1em;
  min-height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.connect {
  min-width: 150px;
  min-height: 24px;
  padding-left: 1em;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #7f8cff;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 1em;
  min-width: 200px;
  min-height: 40px;
}

.works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  min-width: 375px;
  min-height: 2788px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-works {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  min-width: 327px;
  min-height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-works-1 {
  min-width: 327px;
  min-height: 552px;
}

.card-works-2 {
  min-width: 327px;
  min-height: 596px;
}

.card-works-3 {
  min-width: 327px;
  min-height: 552px;
}

.card-works-4 {
  min-width: 327px;
  min-height: 596px;
}

.snapshot-portfolio-1 {
  min-height: 220px;
  border-radius: 8px;
  width: 82vw;
  flex: none;
  order: 0;
  flex-grow: 0;
  object-fit: cover;
}

.title {
  min-width: 295px;
  min-height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #172b4d;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  min-width: 236px;
  min-height: 32px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.8rem;
  min-height: 288px;
  width: 83vw;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.canopy {
  min-width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1em;
  list-style: none;
  color: #344563;
}

.backend-dev,
.year {
  min-width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #7a869a;
}

.card-text {
  min-width: 295px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.card-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 1rem;
  width: 214px;
  height: 24px;
}

.sm-btn {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.action-btn-container {
  width: 295px;
  height: 72px;
}

.action-btn {
  min-width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #396df2;
  background: #fff;
}

.myself {
  min-width: 375px;
  height: 1263px;
  background: #fff;
  border-top-right-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myself-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  gap: 12px;
  width: 80vw;
  height: 346px;
  margin-top: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lets-connect {
  margin-left: 0;
  padding: 0;
}

.about-myself {
  min-width: 327px;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.myself-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.resume-btn {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  color: #396df2;
}

.my-skills {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 85vw;
  min-height: 464.15px;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 80vw;
  margin-left: 2.5rem;
  margin-right: 2rem;
}

.skills-container > * {
  flex: 1;
}

.skills-list li {
  list-style: none;
}

.list-description {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.skill-link {
  text-decoration: none;
}

.skill {
  display: flex;
  align-items: center;
  margin: 36px 36px 12px 36px;
  min-width: 303px;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.skill-image {
  margin: 9px 12px 9.72px;
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.skill-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
}

.chevron-icon {
  cursor: pointer;
  margin-left: 10rem;
  font-size: 2rem;
  margin-right: 2rem;
}

.frame-container {
  min-width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

hr {
  min-width: 327px;
  height: 1px;
  background-color: #dfe1e6;
  margin-left: 2rem;
  margin-right: 2rem;
}

.frame-title {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5rem;
  color: black;
  padding: 36px 36px;
}

.contact-me {
  background-image: url("assets/Background/contact.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-width: 85vw;
  min-height: 779px;
  border: 1px solid #dfe1e6;
}

.contact {
  margin-top: 10rem;
  font-size: 40px;
  color: #fff;
}

.contact_p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: regular;
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 1rem;
}

.input {
  padding: 1rem;
  width: 90%;
  margin-left: 20px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-top: 1.5rem;
  border-radius: 8px;
}

.last-btn {
  width: 130px;
  text-align: center;
  height: 48px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: 0.2s;
  font-family: "Poppins", sans-serif;
  margin: 1.5rem;
}

::placeholder {
  color: #b3bac5;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.home-indicator {
  width: 375px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.home-indicator-icon {
  width: 134px;
  height: 5px;
  background: #0d151e;
  margin-bottom: 0.8rem;
}

.touch:hover {
  background-color: #a392ac;
  color: #fff;
}
